
.chartbott {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full screen height */
    background-color: #f0f8ff; /* Light blue background */
    padding: 20px;
  }
